<extend name="Public/base" />
<div class="page">
    {$_page}
</div>
<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>客户投资记录</h2>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">序号</th>
                <th class="">用户ID</th>
                <th class="">标ID</th>
                <th class="">标名称</th>
                <th class="">投资金额</th>
                <th class="">投资来源</th>
                <th class="">投标订单号</th>
                <th class="">标期限</th>
                <th class="">邀请人</th>
                <th class="">投资时间</th>
                <th class="">借款到期时间</th>
            </tr>
            </thead>
            <tbody>

            <volist name="users_invest" id="vo">
                <tr>
                    <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
                    <td>{$vo.id} </td>
                    <td>{$vo.user_id} </td>
                    <td>{$vo.borrow_nid} </td>
                    <td>{$vo.name} </td>
                    <td>{$vo.account} </td>
                    <td>{$vo.sources} </td>
                    <td>{$vo.tender_id} </td>
                    <td>{$vo.borrow_period} </td>
                    <td>{$vo.staff} </td>
                    <td>{$vo.addtime|date='Y-m-d H:i:s',###} </td>
                    <td>{$vo.repay_last_time|date='Y-m-d H:i:s',###} </td>
                </tr>
            </volist>

            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        //highlight_subnav('{:U('User/hygl')}');
    </script>
</block>
