<extend name="Public/base" />
<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>修改客户的邀请人</h2>
    </div>
    <!-- 数据列表 -->
    <div class="form-item">
        <form action="{:U('Index/users_invest_editing')}" method="post" class="form-horizontal">
            <input type="hidden" value="{$user.user_id}" name="user_id" >
            <label class="item-label">用户名<span class="check-tips">（请输入新的邀请人）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="staff" value="{$user.staff}">
            </div>
            <div class="form-item">
                <button class="btn submit-btn" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </form>
    </div>


</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        //highlight_subnav('{:U('User/hygl')}');
    </script>
</block>
